.menu {
  position: fixed;
  top: 0;
  right: 3.5%;
  z-index: 1000;
}

.menu.rtl {
  right: auto;
  left: 2.5%;
}

.mobileMenuContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(237, 242, 247, 0.95);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.mobileMenuContainer.rtl {
  right: auto;
  left: 0;
}

.mobileMenuContainer.hidden {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

.blogBtn {
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: transparent !important;
  box-shadow: none !important;
}

.blogBtn:hover,
.blogBtn:focus,
.blogBtn:active {
  text-decoration-color: #97DFFC;
  background-color: transparent;
}

.blogBtn.dark:hover,
.blogBtn.dark:focus,
.blogBtn.dark:active {
  text-decoration-color: #121212;
}
